torch
torchvision
dlib
numpy>=1.24
opencv-python>=4.8
certifi>=2024.0.0
mediapipe>=0.10
PySide6>=6.6
platformdirs>=4.0

# macOS-only
pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-Quartz==11.1; sys_platform == "darwin"

# Linux-only
pynput; sys_platform == "linux"
keyboard; sys_platform == "linux"